<h1>Inscripció proves atletisme</h1>
<section>
    <h1>Dades identificatives</h1>
    <label>DNI:
        <input type="text"/>
    </label>
    <label>Codi de federat:
        <input type="text"/>
    </label>
    <label>Nom i cognoms:
        <input type="text"/>
    </label>
    <label>Telèfon:
        <input type="text"/>
    </label>
    <label>Email:
        <input type="email"/>
    </label>
</section>
<section>
    <h1>Inscripció</h1>
    <label>100m llisos
        <input type="checkbox">
    </label>
    <label>200m llisos
        <input type="checkbox">
    </label>
    <label>400m llisos
        <input type="checkbox">
    </label>
    <label>800m llisos
        <input type="checkbox">
    </label>
    <label>1000m llisos
        <input type="checkbox">
    </label>
</section>
<button type="submit">Inscripció</button>